  @import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,700,400);

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-bottom: $base-font-size;
}


h1 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: -2px;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1em;
  letter-spacing: -1px;
}

h3 {
  font-size: 2em;
  line-height: 1.2em;
}

h4 {
  font-size: 1.8em;
  line-height: 1.3em;
}

h5 {
  font-size: 1.3em;
  line-height: 1.4em;
}

p,
ol,
ul,
blockquote,
pre,
code {
  margin-bottom: 1.5em;
}

.fixed {
  font-family: $fixed-font-family;
  font-size: $fixed-font-size;
  line-height: $fixed-line-height;
}


.quiet {
  font-color: $quiet-color;
}

.loud  {
  font-color: $loud-color;
}


.italic {
  font-style: italic;
}

.bold   {
  font-weight: 700;
  @extend .loud;
}


.block-margins {
  margin: 1em 0;
}


.unordered-list {
  list-style-type: disc;
}

.ordered-list {
  list-style: decimal;
}
