// TYPOGRAPHY

$text-color: #333;
$line-height: 1.5em;

$base-font-size: 16px;
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight: 300;

$heading-font-family: $base-font-family;
$heading-font-weight: 700;

$fixed-font-family: $base-font-family;
$fixed-font-size: 16px;
$fixed-line-height: 1.5;

// COLORS

$loud-color: #000;
$quiet-color: #CCC;
